/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #09a46b;
  --error: #d5010c;
  --header: #02c1d6;
  --text: #d8d8d8;
  --text-info: #a3a3a3;
  --background-1: #0f0f0f;
  --background-2: #3b3838;
  --background-error: #ffefef;
}

body {
  background: var(--background-2);
  margin: 0;
  /* font-family: "Poppins"; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: var(--background-1);
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 26px;
  font-weight: lighter;
  color: var(--header);
}

header a {
  color: var(--text-info);
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  /* min-height: 640px; */
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.workout-details {
  background: var(--background-1);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--text-info);
}

/* .workout-details span */
.delete-btn {
  position: absolute;
  width: 66px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--background-2);
  padding: 6px;
  border-radius: 4px;
  border: none;
  color: var(--text-info);
}

.no-btn {
  position: absolute;
  width: 33px;
  border: none;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--primary);
  padding: 6px;
  border-radius: 0 4px 4px 0;
  color: var(--text);
}

.yes-btn {
  position: absolute;
  width: 33px;
  top: 20px;
  right: 53px;
  cursor: pointer;
  background: var(--error);
  padding: 6px;
  border-radius: 4px 0 0 4px;
  border: none;
  color: var(--text);
  text-align: center;
}

/* new workout form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  background: var(--background-2);
  color: var(--text);
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: var(--text);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
}

div.error {
  padding: 10px;
  background: var(--background-error);
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

nav button {
  background: transparent;
  color: var(--error);
  border: 2px solid var(--error);
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  display: flex;
}

.userlog {
  text-align: right;
}

h3 {
  text-align: center;
  font-weight: lighter;
  color: var(--header);
}

.navbar__menu-button,
.navbar__menu-close {
  display: none;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: var(--background-1);
  border-radius: 4px;
  color: var(--text-info);
}

.create {
  background-color: var(--background-1);
  color: var(--text-info);
  margin: 20px 0;
  padding: 20px;
  min-width: 250px;
  border-radius: 4px;
}

.dropdown {
  float: right;
  overflow: hidden;
  align-items: end;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--primary);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: flex;
  position: fixed;
  border-radius: 4px;
  top: 40px;
  right: 120px;
  background: var(--background-2);
  border: 1px solid var(--text-info);
  padding: 6px;
  color: var(--text-info);
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.down {
  vertical-align: bottom;
  height: 20px;
  width: 20px;
  color: var(--text-info);
}

/*Loader*/

/* .loader1 {
  height: 100px;
  width: 100%;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.loader1 {
  height: 100vh;
  width: 100;
  margin: 20px 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .img1 {
  height: 80px;
  animation: slideRight 4s linear forwards;
} */

.man {
  height: 150px;
  animation: pulse 3s infinite linear;
}

@keyframes pulse {
  0% {
    transform: translateX(0);
    height: 150px;
  }
  50% {
    transform: translateX(0);
    height: 250px;
  }
  100% {
    transform: translateX(0);
    height: 150px;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(calc(-100vw + 485px));
  }

  100% {
    transform: translateX(calc(100vw - 640px));/*-120px*/

  }
}

.spiner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px dashed var(--text);
  animation: rotate 3.5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale(0.2);
  }

  to {
    transform: rotate(360deg) scale(1);
  }
}

@media (max-width: 1440px) {
  .dropdown-content {
    right: 20px;
  }

    @keyframes slideRight {
      0% {
        transform: translateX(calc(-100vw + 300px));
      }
  
      100% {
        transform: translateX(calc(100vw - 360px));
        /*-120px*/
  
      }
    }
}

@media (max-width: 760px) {
  .home {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }

  .create {
    position: fixed;
    top: 60px;
    right: -280px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    border-radius: 4px;
    padding: 0 10px;
    width: 260px;
    height: 400px;
    background-color: var(--background-1);
    color: var(--text-info);
    transition: transform 0.3s linear;
  }

  .create.active {
    transform: translateX(-111%);
  }

  .navbar__menu-button {
    display: flex;
    position: fixed;
    top: 62px;
    right: 4px;
    margin-left: auto;
    background-color: transparent;
    padding: 0;
    z-index: 0;
    border: 0;
    cursor: pointer;
  }

  .button-icon {
    width: 34px;
    height: 34px;
    fill: transparent;
    color: var(--header);
  }

  .dropdown-content {
    right: 0px;
  }

    @keyframes slideRight {
      0% {
        transform: translateX(-50vw);
      }
  
      100% {
        transform: translateX(100vw);
        /*-120px*/
  
      }
    }
}

@media (max-width: 320px) {
  header h1 {
    font-size: 20px;
  }
}